<!DOCTYPE html>

<html>
  <head>
    <title>Green Zone</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="content">
          <div class="inner">
            <h1>Your region lies in the green zone</h1>
            <p>
              Implementation of green infrastructure to mitigate impacts of
              carbon emission is not required.
            </p>
          </div>
        </div>
      </header>

      <!-- Footer -->
      <footer id="footer"></footer>
    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="./jquery.min.js"></script>
    <script src="./browser.min.js"></script>
    <script src="./breakpoints.min.js"></script>
    <script src="./util.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
